/*
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
НАСТРОЙКА ДЕФОЛТНЫХ СТИЛЕЙ
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
*/
.container {
  display: flex;
  flex-direction: initial;
}

img{
  margin-top: 0px;
  padding: 0px;
}

p{
  margin: 0; 
}

.left {
  display: flex;
  padding-right: 5px;
  flex-direction: column;
  flex: 1;
}

.right {
  display: flex;
}

html, body {
  overflow: auto;
  background-color: #F0F9FF;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  min-height: 100%;
  height: 100%;
}

.ql, .quill {
  overflow-wrap: anywhere;
}

.ql-editor p, .quill, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
  word-break: break-all;
}

#root {
  height: 100vh;
}

/*
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
ОФОРМЛЕНИЕ СТРАНИЦЫ АВТОРИЗАЦИИ
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
*/

.LoginPage {
  background-image: url('../img/bgLoginPage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LogoLogin{
  margin-top: 50px;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  pointer-events: none;
}

.LoginForm {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 40px 60px 45px 60px;
}

.LoginForm>p {
  font: 'Gotham Pro';
  margin-bottom: 58px;
  font-size: 20px;
  line-height: 19px;
}

.LoginForm>input {
  width: 257px;
  height: 45px;
  border: 0cap;
  background-color: #DDF0FC;
}

.loginInput{
  margin-bottom: 36px;
  border-radius: 5px;
  padding-left: 15px;
}

.logoutBtn{
  position: relative;
  background-color: #355E8B;
  color: #ffffff;
  height: 37px;
  width: 130px;
  text-align: center;
  position: relative;
  user-select: none;
}

.logoutBtn>p{
  position: absolute;               
  top: 50%;                        
  transform: translate(0, -50%);
  width: 100%;
}

.loginBtn{
  margin-top: 24px;
  background-color: #4A7BAB !important;
  border-radius: 5px;
  color: #ffffff;
}

/*
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
ОФОРМЛЕНИЕ ГЛАВНОЕ СТРАНИЦЫ
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
*/

.MainPage{

}

header{
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.Logo{
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  pointer-events: none;
  width: 315px;
}

.content{
  display: flex;
}

/*-----------------------------------------------------------------------------
 МЕНЮ 
-----------------------------------------------------------------------------*/

.menuItem{
  position: relative;
}

.menuBtn{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 240px;
  height: 88px;
  margin: 0px 20px 10px 30px;
  padding: 5px;
  background: #355E8B;
  color: #ffffff;
  user-select: none;
}

.isActive{
  backdrop-filter: blur(4px);
  transform: translateY(2px);
  box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, 0.5);
}

.isActiveEdit{
  transform: translateY(2px);
}

.menuBtn>div{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: self-start;
}

.menuBtn>p{
  text-align: center;
  align-self: center;
  margin: auto;
  overflow:hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menuIcon{
  padding-top: 5px;
  align-self: left;
  height: 48px;
  width: 100%;
}

.editBtn{
  user-select: none;
  position: absolute;
  top: 5px;
  right: 25px;
  height: 24px;
  align-self: flex-start;
}

.createMenuBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}


.createIcon{
  margin-bottom: 50px;
}

#menuAdd{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*-----------------------------------------------------------------------------
РАЗДЕЛЫ
-----------------------------------------------------------------------------*/
.sectionsBlock{
    align-self: start;
    box-sizing: border-box;
    background: #79A0CC;
    width: 35vh;
    min-width: 50vh;
    user-select: none;
}

.sectionBtn{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15px;
  padding: 14px 10px;
  font-size: 16px;
  line-height: 15.31px;
}

.sectionBtn>div{
  height: 22px;
  width: 22px;
  margin-right: 5px;
}


.sectionBtn>div>img{
  height: 22px;
  width: 22px;
  margin-right: 10px;
}

.sectionBtn>p{
  overflow:hidden;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.iconSection{
  position: absolute;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  right: 10px;
}

/*-----------------------------------------------------------------------------
СТАТЬИ
-----------------------------------------------------------------------------*/

.articlesBlock{
  align-self: start;
  box-sizing: border-box;
  background: #79A0CC;
  width: 35vh;
  min-width: 50vh;
  user-select: none;
}

.articleBtn{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15px;
  padding: 14px 10px;
  font-size: 16px;
  line-height: 15.31px;
}

.articleBtn>div{
height: 22px;
width: 22px;
margin-right: 5px;
}

.articleBtn>p{
  overflow:hidden;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.articleBtn>div>img{
height: 22px;
width: 22px;
margin-right: 10px;
}

.iconArticle{
position: absolute;
width: 22px;
height: 22px;
margin-right: 10px;
right: 10px;
}

/*-----------------------------------------------------------------------------
ТЕКУЩАЯ СТАТЬЯ
-----------------------------------------------------------------------------*/

.showArticleBlock {
    background: #D0E5FD;
    margin: 0 10px 0 10px; 
    padding: 10px 20px 20px 20px;
    min-width: 300px;

}

.articleHeader{

  margin: 20px auto;
  word-break: break-all;
}

.textArticle{
  word-break: break-all;
}
/*
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
Модальные окна
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
*/

.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modalForm {
  position: fixed;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 16px 26px 12px;
  z-index: 9999;
  margin: auto;
  width: 1058px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.editHeader>h3{
  margin: 0 0 35px 0;
  font-size: 30px;
  font-weight: normal 
}

.modalForm>p{
  font-size: 16px;
  margin-bottom: 12px;
}

.editHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nameInput{
  border: 1px solid #777676;
  margin-bottom: 37px;
  border-radius: 5px;
  height: 45px;
  width: 1029px;
  font-size: 16px;
}

.deleteBtn{
  position:absolute;
  right: 15px;
  top: 15px;
  border: 0px;
  width: 150px;
  font-size: 20px;
  background: #FA9191;
  height: 39px;
  padding: 11px 11px 9px 10px;
}

.confirmBtn{
  background: #79A0CC;
  padding: 14px;
  border: 0;
  font-size: 20px;
}

.confirmGroup{
  display: flex;
  justify-content: space-between;
}



/*
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
Группа стилей срабатывающих при наведении
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
*/

.deleteBtn:hover{
  backdrop-filter: blur(4px);
  background-image: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.25) 0%,
    #FA9191 20%
    );
}

.confirmBtn:hover{
  background-image: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.25) 0%,
    #79A0CC 20%
    );
}

.logoutBtn:hover{
  backdrop-filter: blur(4px);
  background-image: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.25) 0%,
    #355E8B 20%
    );
}

.menuBtn:hover{
  backdrop-filter: blur(4px);
  background-image: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.55) 0%,
    #355E8B 30%
    );
}

.sectionBtn:hover{
  backdrop-filter: blur(4px);
  background-image: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0.15) 0%,
    #79A0CC 50%,
    rgba(0, 0, 0, 0.15) 80%
    );
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.articleBtn:hover{
  backdrop-filter: blur(4px);
  background-image: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0.15) 0%,
    #79A0CC 50%,
    rgba(0, 0, 0, 0.15) 80%
    );
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
/*
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
*/
